<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Ecuaciones No Lineales</title>
</head>

<body>

    <h1>Ecuaciones No Lineales</h1>

    <form method="POST">

        <h3>Seleccione el método:</h3>
        <select name="metodo" class="select">
        <option value="biseccion">Bisección</option>
        <option value="newton">Newton</option>
        <option value="secante">Secante</option>
    </select>

        <h3>Seleccione la función a evaluar:</h3>
        <select name="funcion" class="select">
        <option value="f1">f1(x) = x³ - x - 1</option>
        <option value="f2">f2(x) = sin(x) - 0.5</option>
    </select>

        <br><br>
        <button class="btn" type="submit">Calcular</button>
    </form>

    {% if resultado %}
    <h2>Proceso:</h2>
    <pre>{{ resultado }}</pre> {% endif %}

    <br>
    <a class="btn" href="/menu">Regresar al menú</a>

</body>

</html>