<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Portada</title>
</head>

<body>
    <div class="portada-container">

        <img src="static/logo_unam.jpg" alt="Logo UNAM" class="logo-unam">

        <h1 class="titulo">Métodos Numéricos</h1>

        <p class="subtitulo">UNAM — Facultad de Estudios Superiores Acatlán</p>
        <p class="autor">Rodríguez Arteaga Jafet Fernando</p>

        <a class="btn" href="/introduccion">Siguiente</a>
    </div>
</body>

</html>