<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Menú</title>
</head>

<body>
    <h1>Menú Principal</h1>

    <div class="menu">
        <a class="btn" href="/ecuaciones-no-lineales">1. Ecuaciones no lineales</a>
        <a class="btn" href="/sistemas-lineales">2. Sistemas de ecuaciones lineales</a>

        <a class="btn" href="/factorizacion-lu">3. Factorización LU</a>
        <!-- CORRECCIÓN CLAVE: El enlace debe ser "/valores-propios" -->
        <a class="btn" href="/valores-propios">4. Valores y vectores propios</a>
        <a class="btn exit" href="/salir">5. Salir del programa</a>
    </div>


</body>

</html>